<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clarke</title>
</head>
<body>
    <a href="/">Inicio</a>
    <a href="/clarke">Arthur C. Clarke</a>
<h1>Arthur C. Clarke</h1>
<img src="/img/Clarke_cropped.jpg" alt="Clarke_cropped">
<p>Fue un escritor y científico británico. Autor de obras de divulgación científica y de ciencia ficción, como la novela 2001: Una odisea del espacio, El centinela o Cita con Rama y coguionista de la película 2001: Una odisea del espacio.</p>
    
</body>
</html>