<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hamilton</title>
</head>
<body>
    <a href="/">Inicio</a>
    <a href="/hamilton">Alexander Hamilton</a>

    <h1>Alexander Hamilton</h1>
    <img src="/img/Alexander_Hamilton (1).jpg" alt="Alexander_Hamilton">
<p>Fue un economista, estadista, político, escritor, abogado, y el primer secretario del Tesoro de los Estados Unidos. Fue uno de los padres fundadores de los Estados Unidos. Fue un influyente intérprete y promotor de la Constitución de los Estados Unidos, así como el fundador del sistema financiero de la nación, el Partido Federalista, la Guardia Costera de Estados Unidos y del periódico The New York Post. Como el primer Secretario del Tesoro, Hamilton fue el autor principal de las políticas económicas de la administración de George Washington. Lideró la financiación de las deudas de los estados por el gobierno federal, así como el establecimiento de un banco nacional, un sistema tarifario, y unas relaciones comerciales amistosas con Gran Bretaña. Su visión incluía un fuerte gobierno central liderado por una vigorosa rama ejecutiva.</p>

</body>
</html>