<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hopper</title>
</head>
<body>
    <a href="/">Inicio</a>
    <a href="/hopper">Edward Hopper</a>


    <h1>Edward Hopper</h1>

    <img src="/img/Edward_Hopper,_New_York_artist_LCCN2016871478_(cropped) (2).jpg" alt="Edward_Hopper,_New_York_artist_LCCN2016871478_(cropped)">
    <p>​ Fue un pintor estadounidense, célebre sobre todo por sus retratos de la soledad en la vida estadounidense contemporánea. Se le considera uno de los pintores de la escuela Ashcan, que a través de Arshile Gorky llevó al expresionismo abstracto posterior a la Segunda Guerra Mundial.</p>
</body>
</html>