<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Home</h1>
    <a href="/">Inicio</a>
    <h1></h1>
    <a href="/babbage"> <img src="/img/CharlesBabbage.jpg" alt="CharlesBabbage">
    </a>
    <a href="/babbaje"> Charles Babbage</a>
<h2></h2>
<a href="/berners-lee"><img src="/img/Sir_Tim_Berners-Lee_(cropped).jpg" alt="Berners-Lee"></a>
<a href="/berners-lee">Tim Berners-Lee</a>
<h3></h3>
<a href="/clarke"><img src="/img/Clarke_cropped.jpg" alt="Clarke_cropped"></a>
<a href="/clarke">Arthur C. Clarke</a>
<h4></h4>
<a href="/hamilton"><img src="/img/Alexander_Hamilton (1).jpg" alt="Alexander_Hamilton"></a>
<a href="/hamilton">Alexander Hamilton</a>

<h5></h5>
<a href="/hopper"><img src="/img/Edward_Hopper,_New_York_artist_LCCN2016871478_(cropped) (2).jpg" alt="Edward_Hopper,_New_York_artist_LCCN2016871478_(cropped)"></a>
<a href="/hopper">Edward Hopper</a>
<h6></h6>
<a href="/turing"><img src="/img/Alan_Turing_Aged_16.jpg" alt="Alan_Turing_Aged_16"></a>
<a href="/turing">Alan Turing</a>

</body>
</html>